<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Question Paper Portal</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="login-container">

        <h1>ADITYA COLLEGE OF ENGINEERING AND TECHNOLOGY</h1>

        <h2>QUESTION PAPER PORTAL</h2>

        <p>Faculty Login</p>

        <form method="POST">
            {% csrf_token %}

            <label for="username">Username</label>
            <input
                type="text"
                id="username"
                name="username"
                placeholder="Enter username"
                required
            >

            <label for="password">Password</label>
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password"
                required
            >

            <button type="submit">LOGIN</button>
    
        </form>

    </div>

</body>
</html>